* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  background: linear-gradient(135deg, #153677, #4e085f);
}
.to-do-app {
  max-width: 600px;
  background-color: rgb(182, 122, 182);
  border-radius: 10px;
  margin: 100px auto 0;
}
.to-do-app h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #4e085f;
}
.to-do-app img {
  width: 15%;
}
.row {
  background: #edeef0;
  border: 1px solid slateblue;
  border-radius: 30px;
}
.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 10px;
}
.row button {
  border: 1px solid slateblue;
  outline: none;
  background: #ff5945;
  color: slateblue;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
}
.row button:hover {
  transform: translateX(5px);
}
.tasks-to-do {
  max-width: 600px;
  background: rgb(182, 122, 182);
  margin: 0 auto;
}
.tasks-to-do ul li {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
  padding: 15px 0 12px 50px;
  position: relative;
  list-style-type: none;
  font-weight: bold;
  color: #4e085f;
}
.tasks-to-do ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/Images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 13px;
  left: 10px;
}
.tasks-to-do ul li.checked {
  color: #555;
  text-decoration: line-through;
}
.tasks-to-do ul li.checked::before {
  background-image: url(/Images/checked.png);
}
h5 {
  font-weight: bolder;
  font-size: 1rem;
}
.tasks-to-do ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 50px;
  font-size: 2rem;
  color: #555;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  transition: all 0.4s ease-in;
  background: #ff5945;
  border-radius: 10px;
}
.tasks-to-do ul li span:hover {
  background: rgb(247, 148, 1);
  border-radius: 15px;
}
