* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  background: linear-gradient(135deg, #153677, #4e085f);
}
.to-do-app {
  max-width: 600px;
  background-color: rgb(182, 122, 182);
  border-radius: 10px;
  margin: 100px auto 20px;
}
.to-do-app h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #4e085f;
}
.to-do-app img {
  width: 15%;
}
.row {
  background: #edeef0;
  border-radius: 30px;
}
.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: bolder;
}
.row button {
  border: none;
  outline: none;
  background: #ff5945;
  color: slateblue;
  font-size: 1rem;
  font-weight: bold;
}
